
@keyframes animate {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.listItem {
    padding-top: 1.5rem;
}


.smallButton {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 0.5rem;
}


.progress {
    height: 40px;
    animation: animate 10s forwards alternate;
    background-color: #b9b9b924;
}